<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "RubyPair.com" %></title>
    <%= stylesheet_link_tag "/stylesheets/screen" %>
    <%= stylesheet_link_tag "/stylesheets/print" %>
    <%= stylesheet_link_tag "/stylesheets/grid" %>
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header" class="container_12 clearfix">
      <h1 class="grid_3">Ruby Pair</h1>
      <ul class="push_5 grid_4">
        <% if current_user %>
          <li>
              Welcome <%= current_user.github_login %>!
          </li>
          <li>/</li>
          <li>
              <%= link_to "Sign Out", signout_path %>
          </li>
          <li>/</li>
          <li>
            <a href="<%= edit_profile_path %>">Pairing Profile</a>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in with Github", "/auth/github" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="container" class="container_12">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title)  %>
      <%= yield %>
    </div>
  </body>
</html>
